@tailwind base;
@tailwind components;
@tailwind utilities;

/* .poly {
  clip-path: polygon(50% 0%, 0% 80%, 100% 80%);
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1);
} */

/* Rotate causes issues with firefox so here we are */

.poly1 {
  clip-path: polygon(0 28%, 67% 100%, 100% 20%);
}

.poly2 {
  clip-path: polygon(0 29%, 52% 100%, 100% 24%);
}
